@model PagedList.IPagedList<Tuan3_PhanPhuocLong.Models.Rubik>
@using PagedList.Mvc;
@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<br />
@using (Html.BeginForm("Index", "Rubik", FormMethod.Get))
{
@Html.TextBox("searching")
<input type="submit" value="Search" />            }
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create");
</p>
<div class="row">
    @foreach (var ele in Model)
    {
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
        <div class="panel panel-heading">
            <strong>@ele.ten</strong>
        </div>
        <div class="panel-body">
            <p><strong>Loại: </strong>@ele.Loai.tenloai</p>
            <p><strong>Mô tả: </strong>@ele.mota</p>
            <p><strong>Hãng: </strong>@ele.hang</p>
            <p><strong>Giá: </strong>@ele.gia</p>
            <p><img src="@ele.hinh" alt="hinh thumnail" style="max-width:100%;" /></p>
            <p><strong>Còn Lại: </strong>@ele.soluongton</p>
            <p><strong>Ngày cập nhật: </strong>@ele.ngaycapnhat</p>
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-right">
                @Html.ActionLink("Read more...", "Detail", new { id = ele.id }, new { @class = "btn btn-default" })
        @Html.ActionLink("Delete", "Delete", new { id = ele.id }, new { @class = "btn btn-success" })
        @Html.ActionLink("Edit", "Edit", new { id = ele.id }, new { @class = "btn btn-success" })
                <div class="DatMua">
                    <a class="btn btn-success" href="@Url.Action("Themgiohang", "Giohang",new { @id = ele.id, @strURL = Request.Url.ToString() })">Đặt mua</a>
                </div>
            </div>
        </div>
    </div>
</div>}

</div>
<div>
    <div>
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) /
        @Model.PageCount
    </div>
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
<style type="text/css">
    #mau-nut a {
        clear: both;
        background-color: orange;
        color: snow;
    }

        #mau-nut a:hover {
            background-color: darkcyan;
            color: snow;
        }
</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        var maxLength = 100;
        $(".show-read-more").each(function () {
            var myStr = $(this).text();
            if ($.trim(myStr).length > maxLength) {
                var newStr = myStr.substring(0, maxLength);
                var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                $(this).empty().html(newStr);
                $(this).append(' <a href="javascript:void(0);" class="read-more">đọc
tiếp...</a > ');
$(this).append('<span class="more-text">' + removedStr + '</span>');
            }
        });
        $(".read-more").click(function () {
            $(this).siblings(".more-text").contents().unwrap();
            $(this).remove();
        });

        14

    });
</script>
<style>
    .show-read-more .more-text {
        display: none;
    }
</style>
